[submodule "ext/nanovg"]
	path = ext/nanovg
	url = git@github.com:memononen/nanovg.git
[submodule "ext/stb"]
	path = ext/stb
	url = git@github.com:nothings/stb.git
[submodule "ext/gsl-lite"]
	path = ext/gsl-lite
	url = git@github.com:martinmoene/gsl-lite.git
